# requirements.txt
flask 
sqlalchemy 
flask_sqlalchemy 
psycopg2-binary 
flask_jwt_extended
PyJWT
flask_cors 
requests 
gunicorn
Werkzeug
python-dotenv
python-dateutil
celery
pydantic
sqlalchemy_utils
redis
rdbbeat
Gevent
Async_timeout
celery-redbeat
flask_mail
blueprint
Flask-Mail
pycryptodome
flask-caching
pymysql
simple-salesforce
pymongo
Pillow
